<div class="bar">
  <h1> Small businesses are our specialty</h1>
</div>
<section class="m-section">
  <div class="main-content">
    <div class="content-flex">
      <div class="branding-container">
        <div class="logo">
          <!-- <img src="../../../assets/images/"> -->
        </div>
        <div class="slogan">
          <h1>Experts recommendation</h1>
        </div>
        <audio controls>
          <source src="assets/audios/audio1.m4a" type="audio/mp4">
          <!-- En caso de que no sea compatible con el navegador
          mostrar un mensaje para que el usuario sepa que hay un audio (o video)-->
          Tu navegador no soporta la reproducción de audio.
        </audio>
        <audio controls>
          <source src="assets/audios/audio2.m4a" type="audio/mp4">
        </audio>
        <audio controls>
          <source src="assets/audios/audio3.m4a" type="audio/mp4">
        </audio>
      </div>
      <div class="video-container">
        <iframe
          width="560"
          height="340"
          src="https://www.youtube.com/embed/0PbjZ01ObLA"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</section>

