<section class="m-section" id="Team">
  <div class="title">
    Meet the team
  </div>
  <div class="intro-section">
    Meet the <span class="highlight">team</span> that drives our <span class="highlight">success</span> every day
  </div>
  <div class="meet-team-container">
    <div class="profile">
      <img src="../../../assets/images/image-rogelio.jpg" alt="Foto de Rogelio Lopez" class="profile-image">
      <div class="profile-info">
        <div class="profile-title">
          <strong>Rogelio “Ro” Lopez  |</strong>
          <span class="highlight">President and Founder</span>
          <!-- <div class="profile-icons">
            <img src="../../../assets/images/icons/message-icon.svg">
            <img src="../../../assets/images/icons/building-icon.svg">
          </div> -->
        </div>
          <div class="profile-description">
            As a Business Consultant, Rogelio Lopez delivers both experience and cash flow solutions
            that make it easy to help optimize the cash flow of your business. He is committed to understanding your unique needs
            and working closely with you to address the challenges you face. Rogelio can assist you in putting a CFO: Cash Flow
            Optimized experience to work for your business to help uncomplicate your life and achieve your financial objectives
            <div class="profile-description-container" [class.expanded]="expandedText">
            His extensive experience across various banking segments has equipped him with a unique ability to quickly comprehend
            and respond to an array of financial situations. He is the former Vice President, Relationship Manager for PNC’s
            Community Development where he worked with Non-for Profit and For Profit Organizations, focused on Affordable Housing,
            and community and economic development.

            <br><br>His civic involvement includes President and Co-Founder of Hispanic Business Network, an organization focused on
            Community, Career, Commerce, and Culture. Rogelio also sits on the Board of Directors for the National Museum of
            Mexican Art, and the Asociacion de Empresarios Mexicanos en Chicago (AEM). He also maintains active involvement with
            organizations such as the Community Investment Corporation (CIC). The Little Village Chamber of Commerce, and the
            Illinois Hispanic Chamber of Commerce. Mr. Lopez is a graduate of Loyola University.

            <br><br>Additional prior and current Board participation include: Board Member of GADS HILL Center 2016-2018, Member of Loan
            Committee for Accion Chicago – 1996 - 2008; Executive Board Member Access Community Health Center Network 1996-2009;
            ALPFA Chicago Chapter 2013-2015, West Suburban PADS 2012, Illinois Office of Educational Services 2005-2011, Board
            Member Hispanic Bankers Associates 1994-1997.

            <br><br>Mr. Lopez has been the recipient of several awards and recognitions such as PNC Market All Star 2014, 2015, and 2017.
            La Rabida Big Hearts for Little People Award 1998, GADS Hill also issued Community Giving award 2018 to HBN under his
            leadership.
          </div>
        </div>
        <button (click)="toggleReadMore()" >{{ expandedText ? 'Show less' : 'Read more...' }}</button>
      </div>
    </div>

    <div class="profile">
      <img src="../../../assets/images/image-yolanda.jpg" alt="Foto de Yolanda Carrasco" class="profile-image">
      <div class="profile-info">
        <div class="profile-title">
          <strong>Yolanda Carrasco  |</strong>
          <span class="highlight">Mortage Loan Officer</span>
          <!-- <div class="profile-icons">
            <img src="../../../assets/images/icons/message-icon.svg">
            <img src="../../../assets/images/icons/building-icon.svg">
          </div> -->
        </div>
        <p class="profile-description">
          With more than 20 years of experience in the finance industry, Yolanda is passionate about working together with
          clients and finding solutions for clients, no matter the complexity.
        </p>
      </div>
    </div>
  </div>

</section>
