<footer class="footer">
  <div class="footer-content">
    <div class="logo-section">
      <img src="assets/images/Xerarch horizontal.jpg" alt="Xerarch Strategies">
    </div>
    <div class="links-section">
      <div class="menu-section section-container">
        <h4>Menu</h4>
        <ul>
          <li><a href="javascript:void(0)" (click)="goTo('Home')">Home</a></li>
          <li><a href="javascript:void(0)" (click)="goTo('Team')">Team</a></li>
          <li><a href="javascript:void(0)" (click)="goTo('Services')">Services</a></li>
          <li><a href="javascript:void(0)" (click)="goTo('Benefits')">Benefits</a></li>
          <li><a href="javascript:void(0)" (click)="goTo('FAQs')">FAQ's</a></li>
          <li><a href="javascript:void(0)" (click)="goTo('Partnerships')">Partnerships</a></li>
        </ul>
      </div>
      <div class="legal-section section-container">
        <h4>Legal</h4>
        <ul>
          <li><a href="https://onedrive.live.com/?authkey=%21AB86yZFOIC0ZyiQ&id=1B9CEFA91A85FC64%2111165&cid=1B9CEFA91A85FC64&parId=root&parQt=sharedby&o=OneUp">Online Privacy<br>Policy Agreement</a></li>
          <li><a href="https://onedrive.live.com/?authkey=%21AIeqbbwsHWvx%2DjQ&id=1B9CEFA91A85FC64%2111164&cid=1B9CEFA91A85FC64&parId=root&parQt=sharedby&o=OneUp">Terms of Service</a></li>
        </ul>
      </div>
      <div class="social-section section-container">
        <h4>Follow Us</h4>
        <img src="assets/images/facebook.png">
        <img src="assets/images/instagram.png">
      </div>
    </div>
  </div>
  <div class="credits">
    Website by Dapper Technologies
  </div>
</footer>

