<div class="header" id="Home">
  <div class="intro-section">
    We <span class="highlight">help businesses</span> improve their
    <br><span class="highlight">financial position.</span>
  </div>
  <br><br>
  <div class="details-section">
    We are experts of providing qualified and secure funding,
    backed by over <span class="highlight">20 years <br>of experience</span>
    in diverse business markets.
  </div>
  <br><br>
  <div>
    <a class="btn-primary-home" routerLinkActive="active" (click)="goTo('contacto')">Join us today</a>
  </div>
</div>
