<section class="m-section" id="FAQs">
  <div class="main-container">

    <div class="header">
      <h2>Frequently Asked Questions</h2>
    </div>

    <div class="container">
      <div class="questions">
        <h1>Just in case you <span style="color: var(--primary); font-family: 'Poppins-Bold';">still have</span> lingering <span style="color: var(--primary);  font-family: 'Poppins-Bold';">questions</span></h1>

          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                What services do you offer for improving business financial health?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>We offer a range of services including financial consulting, comprehensive financial planning, risk management solutions, and support for growth and expansion to ensure your business thrives.</p>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                How can financial planning help my business grow?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Financial planning helps you set realistic goals, manage cash flow effectively, and make informed decisions. It ensures you have the resources and strategies in place to support sustainable growth.</p>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                What is included in your risk management solutions?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Our risk management solutions include identifying potential financial risks, assessing their impact, and developing strategies to mitigate these risks, ensuring your business remains stable and secure.</p>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                How do you support businesses in their expansion plans?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>We provide financial expertise and resources to help you identify new opportunities, secure funding, and implement strategies that facilitate effective scaling of your business operations.</p>
          </mat-expansion-panel>

      </div>
      <div class="image">
        <img src="../../../assets/images/stock/thoughtful-handsome-man-puts-hand-chin-looking-up-isolated-white-wall.jpg" alt="">
      </div>
    </div>

  </div>
</section>
