<section class="m-section" id="Benefits">
  <div class="container">
      <div class="header">
          <h2>Our Benefits</h2>
          <br>
          <h1>Boost Your Business Financial Health</h1>
          <br>
          <h3>Securing Your Growth with Trusted Expertise</h3>
      </div>
      <div class="benefits">
          <div class="card">
              <div class="title" style="display: flex; align-items: center;">
                  <img src="assets/images/icons/mood_FILL0_wght400_GRAD0_opsz24.svg" alt="" style="margin-right: 15px; background-color: var(--primary); border-radius: 50%; padding: 1%;">
                  <h4 style="display: block; margin: 0;">Expert Financial Consulting</h4>
              </div>
              <div class="paragraph">
                  <p>Our team of financial experts provides personalized consulting services to help you navigate complex financial landscapes, ensuring your business remains on a path to profitability and growth.</p>
              </div>
          </div>
          <div class="card">
              <div class="title" style="display: flex; align-items: center;">
                  <img src="assets/images/icons/mood_FILL0_wght400_GRAD0_opsz24.svg" alt="" style="margin-right: 15px; background-color: var(--primary); border-radius: 50%; padding: 1%;">
                  <h4 style="display: block; margin: 0;">Comprehensive Financial Planning</h4>
              </div>
              <div class="paragraph">
                  <p>We offer comprehensive financial planning services that cover budgeting, forecasting, and strategic financial management to help you make informed decisions and achieve long-term success.</p>
              </div>
          </div>
          <div class="card">
              <div class="title" style="display: flex; align-items: center;">
                  <img src="assets/images/icons/mood_FILL0_wght400_GRAD0_opsz24.svg" alt="" style="margin-right: 15px; background-color: var(--primary); border-radius: 50%; padding: 1%;">
                  <h4 style="display: block; margin: 0;">Risk Management Solutions</h4>
              </div>
              <div class="paragraph">
                  <p>Protect your business from financial uncertainties with our risk management solutions. We help you identify potential risks and implement strategies to mitigate their impact.</p>
              </div>
          </div>
          <div class="card">
              <div class="title" style="display: flex; align-items: center;">
                  <img src="assets/images/icons/mood_FILL0_wght400_GRAD0_opsz24.svg" alt="" style="margin-right: 15px; background-color: var(--primary); border-radius: 50%; padding: 1%;">
                  <h4 style="display: block; margin: 0;">Growth and Expansion Support</h4>
              </div>
              <div class="paragraph">
                  <p>We provide the financial expertise and resources you need to support your business growth and expansion plans, helping you seize new opportunities and scale your operations effectively.</p>
              </div>
          </div>
      </div>
  </div>
</section>
