<div class="title" id="Services">
  Let's collaborate
</div>

<div class="loans-container">
  <div class="loan-section">
    <div class="loan-title">Residential Loans</div>
    <div class="loan-content">
      <img src="assets/images/svg/ebef18b1eeae57619e13a5797cf8785e.svg" alt="Residential Loans">
      <div class="loan-info">
          <div class="loan-description residential-loan">
            <span class="highlighted">Start</span> your <span class="highlighted">journey</span> with us
          </div>
          <div class="loan-btn">
            <button>Apply with Rogelio</button>
            <button>Apply with Yolanda</button>
        </div>
      </div>
    </div>
  </div>

  <div class="loan-section">
    <div class="loan-title">Commercial Loans</div>
    <div class="loan-content">
      <img src="assets/images/svg/ca763fc7599ea034cf91a2ca9a2fd1c9.svg" alt="Commercial Loans">
        <div class="loan-info">
          <div class="loan-description">
            <span class="highlighted">Get started </span>and work with Rogelio by completing the form below.
          </div>
          <div class="loan-btn commercial-btn">
            <button>Complete Form</button>
          </div>
      </div>
    </div>
  </div>
</div>
